.dropdown-container {
    position: relative;
    width: 200px;
}

#dropdownInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    background-color: grey;
    color: black;
    border-bottom: 1px solid #ddd;
}

.dropdown-menu li:hover {
    background-color: lightgrey;
}