.navbar {
    display: flex;
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    background-color: #ce6b9b;
    padding: 10px;
}

.navbar-left {
    margin-right: auto; 
}

.navbar-center {
    flex: 1; 
    text-align: left;
    position: relative;
    padding-left: 8vw;
    padding-right: 2vw;
}

.navbar-right {
    margin-left: auto; 
}

.search-bar {
    width: 100%;
    max-width: 1000px;
    /*padding: 8px;*/
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form {
    display: flex;
    width: 100%;
}

.search-bar input {
    flex: 9;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
}

.navbar-img {
    width: 50px;
    height: 50px; 
    object-fit: contain;
}

.search-bar button {
    flex: 1; 
    background-color: #e9a3d1;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0 4px 4px 0; 
    padding: 10px;
    transition: background-color 0.3s ease;
    float: right;
    /*margin-right: 16px;*/
}

.search-bar button:hover {
    background: #ccc;
}

#dropdownMenu {
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
}

.entry {
    padding: 10px;
    cursor: pointer;
}

.entry:hover {
    background-color: #f0f0f0;
}

#pfp {
    float: right;
}